@use "../def" as *;

#footer {
    height: $footer-height;
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    color: $color-text-main;
    text-align: center;
}
