@use "../def" as *;

main {
    @include flex(column, center, center);

    &:before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url("/frontend/images/mainpage.jpg");
        background-size: cover;
        background-position: center;
        opacity: 0.4;
        z-index: -999;
    }
}

.page-container {
    @include flex(column, flex-start, center, 1rem);
    min-height: calc(100vh - $footer-height - 0.1rem);
    max-width: 80rem;
    padding-top: 10rem;

    > .page-title {
        font-size: 2rem;
    }

    > .intro-text {
        font-size: 1.2rem;
        padding-bottom: 1rem;
    }

    > a {
        background-color: #D8CEC6;
        &:hover {
            text-decoration: underline;
        }
    }
}