@use "../def" as *;

main {
    @include flex(column, center, center);

    ::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url("/frontend/images/mainpage.jpg");
        background-size: cover;
        background-position: center;
        opacity: 0.4;
        z-index: -999;
    }
}

.page-container {
    @include flex(column, center, center, 1rem);
    min-height: calc(100vh - $footer-height - 0.1rem);
    max-width: 80rem;
}
/* index 페이지 전용 */
.index-page {
    text-align: center;
}

/* 제목 */
.index-page .page-title {
    font-size: 3.2rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

/* 소개 문구 */
.index-page #intro-text {
    font-size: 1.6rem;
    color: $color-text-sub;
    line-height: 1.6;
}
